.title {
  height: 44px;
  font-size: 32px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #333333;
  line-height: 44px;
  margin-bottom: 16px;
  margin-left: 32px;
  margin-top: 48px;
}

.group-body {
  width: 686px;
  background: #fff;
  margin: 0 auto;
  border-radius: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 104px;
  font-weight: 400;
  color: rgba(88, 84, 106, 1);
  font-size: 28px;
}
.item-text{
  margin-left: 28px;
}

.item-icon{
  margin-right: 16px;
  width: 12px;
  height: 24px;
}

.bline {
  border-bottom: 1px solid rgba(239, 239, 239, 1);
}

.item-name {
  font-size: 26px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: rgba(88, 84, 106, 1);
  line-height: 36px;
}
